.body {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  align-items: center;
  border: 2px solid black;
  justify-content: space-between;
  border-radius: 15px;
}

.createTime {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 10px;
  color: #fff;
}
.body p {
  font-size: 30px;
  margin-right: 40px;
  color: white;
  padding: 30px;
}
.ok {
  border: 2px solid #c4ff00;
}

.btnBody {
  display: flex;
}

.btnBody button {
  font-size: 25px;
  color: white;
  outline: 2px solid #fff;
  outline-offset: 10px;
  border-radius: 10px;
  margin-right: 30px;
  background-color: transparent;
}

.btnBody button:first-child {
  background-color: transparent;
}


@media (max-width: 950px) {
  .body {
    margin-bottom: 20px;
  }
  .body p {
    font-size: 20px;
    margin-right: 20px;
    max-width: 30%  ;
  }
  .btnBody button {
    font-size: 15px;
  }
}@media (max-width: 560px) {
  .body {
    margin-bottom: 10px;
  }
  .body p {
    font-size: 10px;
    margin-right: 10px;
  }
  .btnBody button {
    font-size: 5px;
  }
}